In [1]:
# --- Constructing a DataFrame with weight/height data ---
import pandas as pd

In [2]:
people = pd.DataFrame({'name': ['max', 'sue', 'rob'],
                       'gender': ['male', 'female', 'male'],
                       'weight': [80, 65, 90],
                       'height': [175, 165, 190]})
people

  name  gender  weight  height
0  max    male      80     175
1  sue  female      65     165
2  rob    male      90     190

In [3]:
# --- Direct column computation of BMI ---
people['bmi'] = people['weight'] / ((people['height'] / 100) ** 2)

people

  name  gender  weight  height        bmi
0  max    male      80     175  26.122449
1  sue  female      65     165  23.875115
2  rob    male      90     190  24.930748

In [4]:
simpsons = pd.DataFrame({'name': ['homer', 'grampa', 'marge'],
                       'gender': ['male', 'male', 'female'],
                       'weight': [105, 90, 70],
                       'height': [185, 175, 165]})

In [5]:
# --- Function-based computation of BMI ---
def bmi_calculator(w, h):
    return w / ((h / 100) ** 2)

# Compute BMI for each person
simpsons['bmi'] = bmi_calculator(simpsons['weight'], simpsons['height'])

simpsons

     name  gender  weight  height        bmi
0   homer    male     105     185  30.679328
1  grampa    male      90     175  29.387755
2   marge  female      70     165  25.711662

In [6]:
# --- Rounding BMI values to 1 decimal place ---
simpsons['bmi'] = simpsons['bmi'].apply(lambda x: float(f'{x:0.1f}'))

simpsons

     name  gender  weight  height   bmi
0   homer    male     105     185  30.7
1  grampa    male      90     175  29.4
2   marge  female      70     165  25.7