In [1]:
import pandas as pd
import numpy as np

# The price of apple, orange and banana 
# in supermarkets maxfood, local, crust
df = pd.DataFrame(
    {'apple':  [1.05, 1.15, 1.10],
     'orange': [1.20, 1.25, 1.35],
     'banana': [0.95, 0.85, 0.75]}, index=['maxfood', 'local', 'crust'])

twoDecimal = lambda x: float(f'{x:0.2f}')

pd.options.display.float_format = '{:.2f}'.format

# mean price for the three fruits in each supermarket 
df['mean row'] = df.mean(axis=1)

# mean price for each fruit across the three supermarkets
df.loc['mean col'] = df.mean(axis=0)

# Display the completed table with marginals
df

          apple  orange  banana  mean row
maxfood    1.05    1.20    0.95      1.07
local      1.15    1.25    0.85      1.08
crust      1.10    1.35    0.75      1.07
mean col   1.10    1.27    0.85      1.07